<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colaboración Exitosa</title>
    <link rel="stylesheet" href="/formularioWeb-1-master/assets/styles/style.css">
    <link rel="stylesheet" href="/formularioWeb-1-master/assets/icons/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="/formularioWeb-1-master/assets/icons/remixicon/remixicon.css">
    <link rel="stylesheet" href="/formularioWeb-1-master/assets/icons/bootstrap-icons/bootstrap-icons.min.css">
</head>
<body class="body-container-pago">

    <main class="container-pago">
        <header class="header-container-pago">
        <i id="check-circle" class="bx bi-check-circle-fill"></i>
        <h2>Su pago se ha completado exitosamente!</h2>
        </header>
        <hr>
    <article class="pago-exitoso">
        <p>¡Muchas gracias por su colaboración! Su pago se ha procesado correctamente.</p>
            <div class="container-detalle">
                <p>Detalle</p>
                <hr>
                <li><p>En concepto de colaboración con el desarrollador del formulario web</p></li>
                <li><p>Costo de la colaboración $500 (pesos)</p></li>
            </div>
            <p>Si desea contratar el servicio de desarrollo web, formularios perzonalizados, currículums online, no dudes en contactarme:</p>
            <ul class="pago-exitoso-contact">
            <li><a href="tel:+5492665290020"><i class="bx bi-phone"></i> +5492665290020</a></li>
            <li><a href="mailto:calcagni.gabriel86@gmail.com"><i class="bx bi-envelope"></i> calcagni.gabriel86@gmail.com</a></li>
            </ul>
    </article>
    </main>

    <h5><i class="bx bi-arrow-left"></i><a href="https://solidsnk86.github.io/formularioWeb/"> Volver al formulario</a></h5>

<footer>
    <p>&copy;formularioWeb 2023 - Desarrollo <span style="color: royalblue;"><a href="https://www.instagram.com/calcagni_gabriel26/?ishid=ZDdkNTZiNTM%3D">SolidSnk86</a></span></p>
</footer>

</body>
</html>
