<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesando el pago</title>
    <link rel="stylesheet" href="assets/styles/style.css">
    <link rel="stylesheet" href="formularioWeb-1-master/assets/icons/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="formularioWeb-1-master/assets/icons/remixicon/remixicon.css">
    <link rel="stylesheet" href="formularioWeb-1-master/assets/icons/bootstrap-icons/bootstrap-icons.min.css">
</head>
<body class="container-card-proceso">
    
    <article class="container-proceso">
        <h2>Estado de tu pago</h2>
        <hr>
        <div class="procesando">
            <p>¡Hola! Gracias por tu apoyo.</p>
            <h5><i class="ri-history-line"></i> Estamos procesando tu pago...</h5>
            <img src="" alt="" width="200px" height="auto">
        </div>
    </article>

    <p>En caso que no te redireccione a la página de pago exitoso, puedes volver al formulario <a href="https://solidsnk86.github.io/formularioWeb/">aquí.</a></p>
   
</body>

<footer>
    <p>&copy;formularioWeb 2023 - Desarrollo por <span style="color: royalblue;"><a href="https://www.instagram.com/calcagni_gabriel26/?ishid=ZDdkNTZiNTM%3D">SolidSnk86</a></span></p>
</footer>

</html>
